article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}
html {
    font-size: 10px;
}
@media only screen and (min-width: 1600px) and (max-width: 1920px) {
    html {
        font-size: 0.52vw;
    }
}
@media only screen and (max-width: 1600px) {
    html {
        font-size: 8px;
    }
}
@media only screen and (max-width: 1040px) {
    html {
        font-size: 1vw;
    }
}
@media only screen and (max-width: 480px) {
    html {
        font-size: 2.5vw;
    }
}
.clearifx:after {
    content: "";
    display: table;
    clear: both;
}

html,
body {
    height: 100%;
}
.page-wrapper {
    overflow: hidden;
    min-height: 100%;
}
@media only screen and (max-width: 1040px) {
    .b-main-content {
        padding-bottom: 550px;
    }
}
@media only screen and (max-width: 480px) {
    .b-main-content {
        padding-bottom: 320px;
    }
}
body {
    position: relative;
    min-height: 100%;
    font-family: "Fira";
    color: #fff;
    text-transform: uppercase;
    background: url("../i/bg-grass.jpg");
}
.b-content-inner {
    position: relative;
    max-width: 147rem;
    margin: 0 auto;
    box-sizing: border-box;
}
.pizzahut-logo {
    background: url("../i/logo.png") no-repeat 0 0;
    background-size: cover;
    margin: 5.5rem 0 0 6rem;
    width: 37.2rem;
    height: 5.2rem;
}
@media only screen and (max-width: 480px) {
    .pizzahut-logo {
        margin: 20px 0 0 20px;
        width: 18.6rem;
        height: 2.2rem;
    }
}
.o-bush-1 {
    background: url("../i/branch-1.png") no-repeat 0 0;
    background-size: cover;
    width: 28.6rem;
    height: 25.3rem;
    position: fixed;
    top: 0;
    left: 0;
}
@media only screen and (max-width: 1040px) {
    .o-bush-1 {
        position: absolute;
        left: -12rem;
    }
}
@media only screen and (max-width: 480px) {
    .o-bush-1 {
        left: -20rem;
    }
}
.o-bush-2 {
    background: url("../i/branch-2.png") no-repeat 0 0;
    background-size: cover;
    width: 70.7rem;
    height: 29.4rem;
    position: absolute;
    bottom: 10rem;
    left: 0;
    z-index: 1;
}
@media only screen and (max-width: 1040px) {
    .o-bush-2 {
        display: none;
        left: -45rem;
    }
}
.o-bush-3 {
    background: url("../i/branch-3.png") no-repeat 0 0;
    background-size: cover;
    width: 30.7rem;
    height: 44.8rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}
@media only screen and (max-width: 1040px) {
    .o-bush-3 {
        display: none;
        right: -20rem;
    }
}
/*.o-stick {*/
    /*width: 21.2rem;*/
    /*height: 17.5rem;*/
    /*background: url("../i/stick.png") no-repeat 0 0;*/
    /*background-size: cover;*/
    /*position: absolute;*/
    /*top: 29rem;*/
    /*left: -35rem;*/
/*}*/
.o-rug {
    background: url("../i/rug.png") no-repeat 0 0;
    background-size: cover;
    width: 112.3rem;
    height: 108.9rem;
    position: absolute;
    top: -12rem;
    right: 0;
    margin-right: -21rem;
}
@media only screen and (max-width: 1040px) {
    .o-rug {
        margin-right: -60rem;
    }
}
@media only screen and (max-width: 480px) {
    .o-rug {
        width: 56.1rem;
        height: 54.4rem;
        margin-right: -30rem;
        top: -7.5rem;
    }
}
.h1 {
    position: relative;
    z-index: 1;
    font-size: 5.3rem;
    text-shadow: 0px 30px 29px rgba(0,0,0,0.44);
    width: 80rem;
    margin: 2.5rem 0 0 6rem;
}
@media only screen and (max-width: 480px) {
    .h1 {
        font-size: 3.6rem;
        margin: 50px 0 0 20px;
    }
}
.h1 span {
    display: block;
    font-size: 8.4rem;
    margin: 0rem 0 0 0rem;
}
@media only screen and (max-width: 480px) {
    .h1 span {
        font-size: 2.5rem;
        margin: 2rem 0 0 0;
    }
}
.h1 span.yellow {
    font-size: 12.2rem;
    margin: -3rem 0 0 0rem;
    color: #ffd800;
}
@media only screen and (max-width: 480px) {
    .h1 span.yellow {
        font-size: 6.7rem;
        margin-left: 0;
        margin-top: 1rem;
    }
}
.red-block {
    background: url("../i/red-block.png") no-repeat 0 0;
    background-size: cover;
    width: 42rem;
    height: 30.5rem;
    position: absolute;
    left: 0;
    margin-top: -1rem;
    box-sizing: border-box;
    font-size: 2.7rem;
    color: #ffd800;
    padding: 6.7rem 0 0 9rem;
    z-index: 100;
}
@media only screen and (max-width: 480px) {
    .red-block {
        position: relative;
        margin: 6rem 0 0 -7.5rem;
        transform: scale(0.75);
    }
}
.red-block span {
    display: block;
    font-size: 5.2rem;
    color: #fff;
    margin-top: -.5rem;
}
.red-block a.buy-btn {
    display: block;
    box-sizing: border-box;
    background: url("../i/pizza-button.png") no-repeat 0 0;
    background-size: cover;
    width: 37rem;
    height: 19rem;
    font-size: 2.2rem;
    color: #5f3a1f;
    text-decoration: none;
    padding: 4.5rem 0 0 8.5rem;
    margin-left: .6rem;
}
.red-block a.buy-btn:hover {
    background: url("../i/pizza-button-hover.png") no-repeat 0 0;
    background-size: cover;
}

.b-steps {
    width: 100%;
    height: 10rem;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}
@media only screen and (max-width: 1040px) {
    .b-steps {
        padding: 20px;
        box-sizing: border-box;
        clear: both;
        position: relative;
        z-index: 10;
        height: 355px;
        margin-top: -355px;
    }
}
.b-steps ul {
    margin: 2.6rem 0 0 6rem;
    display: flex;
    max-width: 80.7rem;
}
@media only screen and (max-width: 1040px) {
    .b-steps ul {
        display: block;
        margin: 10px 0 60px;
    }
}
.b-steps li {
    position: relative;
    font-size: 2.1rem;
    line-height: 2.5rem;
    color: #000;
    padding: 0 0 0 7.5rem;
    margin-right: 12.2rem;
}

.item__margin-left {
    //margin-left: 2rem;
}

@media only screen and (max-width: 1040px) {
    .b-steps li {
        font-size: 18px;
        line-height: 20px;
        padding: 0 0 0 75px;
        width: 100%;
        clear: both;
        margin: 0 0 30px;
        padding-left: 0;
    }
    .b-steps li br {
        display: none;
    }
    .b-steps li .title {
        padding-top: 1.3rem;
    }
}
@media only screen and (max-width: 1040px) and (max-width: 1040px) {
    .b-steps li .title {
        padding-top: 15px;
    }
}
.b-steps li:after {
    content: '';
    position: absolute;
    width: 1.1rem;
    height: 3.3rem;
    right: -6.5rem;
    top: 1rem;
    background: no-repeat right center url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMi40MzciIGhlaWdodD0iMzUiIHZpZXdCb3g9IjAgMCAxMi40MzcgMzUiPgogIDxkZWZzPgogICAgPHN0eWxlPgogICAgICAuY2xzLTEgewogICAgICAgIGZpbGw6IG5vbmU7CiAgICAgICAgc3Ryb2tlOiAjOTk5OwogICAgICAgIHN0cm9rZS13aWR0aDogMnB4OwogICAgICAgIGZpbGwtcnVsZTogZXZlbm9kZDsKICAgICAgfQogICAgPC9zdHlsZT4KICA8L2RlZnM+CiAgPHBhdGggaWQ9ImFycm93IiBjbGFzcz0iY2xzLTEiIGQ9Ik00NzAuMzQ4LDkyNEw0NzksOTM5Ljg2NSw0NzAuMzQ4LDk1NyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTQ2Ny41NjMgLTkyMykiLz4KPC9zdmc+Cg==");
}
@media only screen and (max-width: 1040px) {
    .b-steps li:after {
        display: none;
    }
}
.b-steps li:last-child {
    margin-right: 0;
}
.b-steps li:last-child:after {
    display: none;
}
.b-steps .number {
    position: absolute;
    left: 0;
    top: 0;
    width: 5rem;
    height: 5rem;
    color: #fff;
    font-size: 3rem;
    text-align: center;
    line-height: 5rem;
    background: #e00;
}
@media only screen and (max-width: 1040px) {
    .b-steps .number {
        font-size: 30px;
        line-height: 50px;
        width: 50px;
        height: 50px;
        float: left;
        position: static;
        margin-right: 20px;
    }
}
.b-steps .btn {
    position: absolute;
    right: 16rem;
    top: -0.5rem;
}
@media only screen and (max-width: 1040px) {
    .b-steps .btn {
        display: block;
        width: 280px;
        position: relative;
        padding-left: 100px;
        margin: 0 auto 10px;
        right: auto;
    }
}
.b-steps .pizza-piece {
    background: url("../i/pizza.png") no-repeat 0 0;
    background-size: cover;
    width: 10.4rem;
    height: 11.2rem;
    position: absolute;
    right: 22.5rem;
    top: -3rem;
}
@media only screen and (max-width: 1040px) {
    .b-steps .pizza-piece {
        background-size: auto 100%;
        left: 10px;
        width: 100px;
        height: 90px;
        top: -17px;
    }
}
.btn {
    background: #fff;
    text-shadow: 0px 30px 29px rgba(0,0,0,0.44);
    background: #fc0;
    color: #5f3a1f;
    text-decoration: none;
    font-size: 2.1rem;
    padding: 1.7rem 4rem;
    border-radius: 3rem;
    height: 6rem;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}
@media only screen and (max-width: 1040px) {
    .btn {
        font-size: 18px;
        padding: 22px 40px;
        border-radius: 30px;
        height: 60px;
    }
}
.btn:hover {
    background-color: #ffe400;
}
